@use '../../../../styles/settings/variables' as v;

.drawerItem {
  width: 100%;
  background: transparent;
  text-decoration: none;
  color: v.$light !important;
}

.drawerItemArrow {
  transition: 0.25s transform;
}

.drawerItemActive,
.drawerItemActive:focus {
  background: v.$primary;
  color: v.$light !important;
}

.drawerItemIconActive {
  color: v.$primary;
}
