.drawer {
  min-height: 100vh;
}

.drawerTogglerBtn {
  min-height: 56px;
}

.drawerTogglerIcon {
  transition: transform 0.25s;
}

.drawerTogglerIconOpen {
  transform: rotate(180deg);
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 56px;
  background-color: $dark;
  color: $light;
}

.title {
  font-size: 1.25rem;
  margin: 0rem 1rem;
}

.drawerNavigation {
  background-color: $dark !important;
  color: $light;
  min-height: 100% !important;
}
