@use '../../../../../styles/settings/variables' as v;

.drawerItem {
  width: 100%;
  background: transparent;
  text-decoration: none;
  color: v.$light !important;
  font-family: v.$font;

  &:hover {
    background: rgba(250, 250, 250, 0.08) !important;
    color: v.$light !important;
  }
}

.drawerItemArrow {
  transition: 0.25s transform;
}

.drawerItemActive,
.drawerItemActive:focus,
.drawerItemActive:hover {
  background: rgba(250, 250, 250, 0.08) !important;
  color: v.$light !important;
}
